@model IEnumerable<Week9_Authorization.Models.Instructors>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
@if (User.Identity.IsAuthenticated)
{
    <p>You are seeing this because you are logged in. When you logged in, an authorization cookie was set with your username. This allowed you to bypass a built-in security library in .NET MVC. In C#, this creates a User object with properties and methods that can check if you are a valid user. In this case, you are considered a "principal user" until you log out or clear your cookies. Check out the View for this page and right click on User in the if statement here.</p>
}
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.F_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.L_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Dob)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Programs.Program_name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.F_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.L_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Dob)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Programs.Program_name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
