@model IEnumerable<Week8_Validation.Models.Student>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.First_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Last_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.s_number)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dob)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.First_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Last_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.s_number)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dob)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
