@model week2b.Models.Pet

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        @Model.Id 
    </div>
    <div>
        @Model.Name
    </div>
    <div>
        @Model.Species
    </div>
    <div>
        @Model.Breed
    </div>
    <div>
        @Model.Price
    </div>
</body>
</html>
