@model week2a.Models.Pet

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Directory</title>
</head>
<body>
    <div>
        @Model.Id, @Model.Name, @Model.Species, @Model.Breed, @Model.Price 
    </div>
</body>
</html>
