@using week2a.Models
@model IEnumerable<Pet>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        @foreach(Pet p in @Model)
        {
            <ul>
                <li>@p.Id</li>
                <li>@p.Name</li>
                <li>@p.Species</li>
                <li>@p.Breed</li>
                <li>@p.Price</li>
            </ul>
            <hr />
        }
    </div>
</body>
</html>
